[submodule "ffmpeg-hls.js"]
	path = ffmpeg-hls.js
	url = git@github.com:davedoesdev/ffmpeg-hls.js.git
[submodule "webm-muxer.js"]
	path = webm-muxer.js
	url = https://github.com/davedoesdev/webm-muxer.js
