canvas.rotate, canvas.zoom {
  position: absolute;
  top: 50%;
  left: 50%;
}
canvas.rotate {
  transform: translate(-50%,-50%) rotate(-90deg);
}
canvas.zoom {
  transform: translate(-50%,-50%);
}
.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath d='M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z'/%3E%3C/svg%3E");
}
